.my-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background: #c7c7c7;
}
.title-explainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background: #ffffff;
  border-radius: 10px;
  border-image-source: linear-gradient(96.64deg, #fd7e39 1.7%, #364aff 94.31%);
  border: 1px solid black;
}
.title-explainer h1 {
  font-family: 'inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #25262e;
}
.title-explainer p {
  font-family: 'inter';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
.collection-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
