.about-card{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* padding: 60px; */
margin: 2rem;
background: #DCE4FF;
background-blend-mode: luminosity;
border-radius: 20px;
padding: 15px
}
.img-stuff{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.img-stuff-title{
    height: ;
}
.img-stuff h6{
    font-size: 18px;
}
.img-stuff p{
    font-size: 13px;
    color: #6D608F;
}
