header .dropdown {
  background-color: #1d2e3e;
}
div.navbar-nav a {
  border-radius: 0 0 5px 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  margin: 20px 0px;
  /* identical to box height */

  text-align: center;

  color: #95989b;
}
button.navbar-toggler.collapsed {
  /* text-align: right; */
  justify-content: flex-end;
  border: none;
}
button.navbar-toggler {
  justify-content: end;
  width: auto;
}

.navbar{
    grid-row: 1/2;
    height: 120px;
}
header .navbar-nav{
    background-color: #212529;
    /* width:100%; */

}
