.App {
  /* margin: -10px; */
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1rem, 800px, 1rem;
  background: radial-gradient(
      163.35% 105.57% at 45.62% 45.35%,
      rgba(106, 120, 247, 0.4) 0%,
      rgba(114, 128, 255, 0) 100%
    ),
    radial-gradient(
      71.04% 89.33% at 52.81% 48.6%,
      rgba(220, 7, 255, 0.4) 0%,
      rgba(0, 0, 0, 0) 100%,
      rgba(0, 0, 0, 0) 100%,
      rgba(219, 0, 255, 0) 100%
    ),
    radial-gradient(
      53.81% 64.55% at 46.81% 36.3%,
      rgba(255, 202, 123, 0.4) 0%,
      rgba(255, 183, 75, 0) 100%
    ),
    radial-gradient(81.88% 66.2% at 80.44% 33.8%, #ffffff 0%, #000000 100%);
  background-blend-mode: hard-light, hard-light, normal, normal;
}
