article{
    
   background: #8998fc7c;
    background-blend-mode: hard-light, hard-light, normal, normal;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.411);
}
.galaxy-card-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.galaxy-card h3{
    font-size: 25px;
    color: #0F1011;
    text-align: center;
}
.card-info{
    width: auto;
    height: auto;
}
.galaxy-image{

   width: 350px;
   height: 350px;
    border-radius: 0px 0px 20px 20px;
}